*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.allcatagories-link,.sign-in-link{
    text-decoration-line:none;
}
.header {
    
    top: 0px;
    left: 0px;
    right: 0px;
  }
  .sub-header {
      background-color: rgb(94, 94, 94);
      display: grid;
      margin-top: 0px;
      grid-template-columns: 200px  1fr 150px 100px;
      column-gap: 5px;
      row-gap: 20px;
      justify-content: space-between;
      height: 50px;
    }
  
  .logo {
    height: 50px;
    width: 200px;
    
  }
  
  .search-bar {
      flex:1;
      height: 30px;
      width: 500px;
      padding-left: 10px;
      font-size: 16px;
      border: 2px solid rgb(218, 218, 218);
      border-radius: 20px;
      box-shadow: inset 1px 2px 3px rgba(0, 0, 0,0.05);
    }
    .search-bar::placeholder {
      font-family: Roboto,Arial;
      font-size: 16px;
  
    }
    .middle-bar {
      align-items: center;
      display: flex;
    }
    .search-button {
      height: 30px;
      width: 66px;
      background-color: rgb(240, 240, 240);
      border-width: 2px;
      border-style: solid;
      border-color: rgb(218, 218, 218);
      border-radius: 20px;
      
      margin-left: 5px;
      margin-right: 10px;
      position: relative;
    }
    .search-button .tooltip {
      position: absolute;
      background-color: rgb(138, 138, 138);
      color: white;
      padding: 4px;
      padding-right: 6px;
      padding-left: 6px;
      border-radius: 2px;
      font-size: 12px;
      bottom: -30px;
      opacity: 0;
      transition: opacity 0.15s;
      pointer-events: none;
    }
    .search-button:hover .tooltip {
      opacity: 1;
    }
    .search-icon {
      height: 25px;
      margin-top: 2px;
    }
  .sign-up{
      display:flex;
      align-items: center;
      justify-content: space-between;
    }
    .sign-up-button{
      background-color: white;
      border-radius: 20px;
      padding: 10px;
      margin-left:15px;
      font-size: 15px;
      cursor: pointer;
    }
  .sign-in{
    font-size: 20px;
    color: white;
  }
    .fifth-bar {
      display:flex;
      align-items: center;
      position: relative;
      justify-content: center;
    }
    .fifth-bar .tooltip{
      color: rgb(0, 0, 0);
      position: absolute;
      margin-top: 70px;
      margin-left: 35px;
      padding: 4px;
      background-color: rgb(182, 181, 181);
      border-radius: 3px;
      border-width: 2px;
      border: solid;
      opacity: 0;
      pointer-events: none;
    }
    .fifth-bar:hover .tooltip{
      opacity: 1;
    }
    .cart {
      height: 30px;
      width: 30px;
      border-radius: 3px;
      background-color: rgb(94, 94, 94);
      border: 0px;
      cursor: pointer;
    }
    .cartpopup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
    }
    .cartpopup-content {
      position: absolute;
      top: 340px;
      right: -150px;
      height: 500px;
      width: 300px;
      transform: translate(-50%, -50%);
      background-color: lightgray;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      font-size: 30px;
    }
  .lower-sub-header {
      background-color: rgb(94, 94, 94);
      height: 40px;
      display:flex;
      align-items: center;
      padding-left: 10px;
    }
    .hamburgerpopup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1000;
    }
    .hamburgerpopup-content {
      position: absolute;
      top: 251px;
      left: 150px;
      height: 500px;
      width: 300px;
      transform: translate(-50%, -50%);
      background-color: lightgray;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  .hamburger-menu-button {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    border-color: grey;
    position: relative;
    padding: 5px;
    margin-left:20px;
    margin-right:20px;
    display: flex;
    align-items:center;
  }
  .hamburger-menu-button .tooltip {
    color: rgb(0, 0, 0);
    margin-top:72px;
    background-color: rgb(182, 181, 181);
    border-radius: 2px;
    padding: 4px;
    font-size: 15px;
    position: absolute;
    opacity: 0;
    border-width: 2px;
    pointer-events: none;
    border: solid;
    border-width: 2px;
  }
  .hamburger-menu-button:hover .tooltip {
    opacity: 1;
    transition: opacity 0.15s;
  }
  .hamburger-menu {
    height: 30px;
    margin-left: -5px;
    margin-top: 2px;
    cursor: pointer;
  }
  .allcatagories-link{
    color: black;
  }
  .All-Catagories {
    margin-left: 20px;
    border-radius: 5px;
    border-color: grey;
    position: relative;
    padding: 2px;
    font-size: 20px;
  }
  
  .All-Catagories .tooltip {
    position: absolute;
    margin-top: 10px;
    margin-left: -30px;
    background-color: rgb(182, 181, 181);
    border: solid;
    border-width: 2px;
    padding: 5px;
    font-size: 15px;
    opacity: 0;
    width: 200px;
  }
  .All-Catagories:hover .tooltip{
    opacity: 1;
  }
  li{
    padding: 0px;
    text-align:start;
    margin: 5px 0px 5px 0px;
    font-size: 17px;
  }
  .service {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:40px;
    font-size:20px;
  }
.intro-place{
  height: 170px;
  
  top: 150px;
}
.background{
  position: absolute;
  height: 170px;
  width: 100%;
  background-image:url(/img/slava-auchynnikau-Hk84A7dWhPQ-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.catagories-container{
  height: 700px;
  padding:30px;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: 49% 49%;
  row-gap: 15px;
  column-gap: 15px;
}
.sub-catagories-container{
  padding: 5px 10px;
  height: 100%;
}
.sub-catagories-container-header{
  text-align: center;
  height: 10%;
}
.sub-catagories-container-body{
  height: 90%;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 49% 49%;
  row-gap: 5px;
  column-gap: 5px;
}
.sub-catagories-container-body-each{
  width: 100%;
  height: 100%;
}
.sub-catagories-container-body-each-header{
  height: 10%;
}
.sub-catagories-container-body-each-body{
  height: 90%;
  padding: 3px;
}
.eachimg{
  height: 118px;
  width: 135px;
  object-fit: cover;
  border-radius: 5px;
}
.about{
  height: 200px;
  background-color: rgb(177, 177, 177);
  text-align: center;
  padding: 10px;
}
.about p{
  height: 20px;
}