*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: lightgray;
  min-width: 1280px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
a{
  color: inherit;
  text-decoration: inherit;
}
a:hover{
  text-decoration: underline #10b59d;
}
header{
  display: flex;
  min-width: 1280px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  display: flex;
  background-color: lightgray;
  min-width: 1280px;
  width: 100%;
  max-width: 1440px;
  flex-direction: column;
  }
.sub-header {
  display: flex;
  margin-top: 0px;
  column-gap: 5px;
  row-gap: 20px;
  justify-content: space-between;
  height: 60px;
  padding-left: 10px;
  padding-top: 10px;
}
.chiricharo{
  width: 300px;
  padding-left: 20px;
}
  
.logo {
  height: 50px;
}

.searchbar{
  height: 43px;
  width: 423px;
  display: flex;
  align-items: center;
  border: 2px solid #10b59d;
  border-radius: 5px;
}
.sign-up{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
  }
.sign-up-button{
  background-color: lightgrey;
  border: 0px ;
  border-radius: 20px;
  padding: 10px;
  margin-left:15px;
  font-size: 16px;
  cursor: pointer;
}
.sign-up-button:hover{
  background-color: #10b59d;
  transition: 0.3s;
}
.sign-in{
  font-size: 20px;
}
.sign-in:hover{
  color: #10b59d;
  transition: 0.3s;
}
.fifth-bar {
  display:flex;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 100px;
}
.fifth-bar .tooltip{
  color: rgb(0, 0, 0);
  position: absolute;
  margin-top: 70px;
  margin-left: 35px;
  padding: 4px;
  background-color: rgba(182, 181, 181, 0.733);
  border-radius: 3px;
  border: 2px solid;
  opacity: 0;
  pointer-events: none;
}
.fifth-bar:hover .tooltip{
  opacity: 1;
}
.cart {
  height: 30px;
  width: 30px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 0px;
  cursor: pointer;
}
.cartpopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.cartpopup-content {
  position: absolute;
  top: 340px;
  right: -150px;
  height: 500px;
  width: 300px;
  transform: translate(-50%, -50%);
  background-color: lightgray;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
}
.lower-sub-header {
  height: 40px;
  display:flex;
  align-items: center;
  padding-left: 10px;
}
.hamburgerpopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.hamburgerpopup-content {
  position: absolute;
  top: 251px;
  left: 150px;
  height: 500px;
  width: 300px;
  transform: translate(-50%, -50%);
  background-color: lightgray;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.hamburger-menu-button {
  height: 35px;
  width: 35px;
  border-radius: 5px;
  border-color: grey;
  position: relative;
  padding: 5px;
  margin-left:20px;
  margin-right:20px;
  display: flex;
  align-items:center;
}
.hamburger-menu-button .tooltip {
  color: rgb(0, 0, 0);
  margin-top:72px;
  background-color: rgb(182, 181, 181);
  border-radius: 2px;
  padding: 4px;
  font-size: 15px;
  position: absolute;
  opacity: 0;
  border-width: 2px;
  pointer-events: none;
  border: solid;
  border-width: 2px;
}
.hamburger-menu-button:hover .tooltip {
  opacity: 1;
  transition: opacity 0.15s;
}
.hamburger-menu {
  height: 30px;
  margin-left: -5px;
  margin-top: 2px;
  cursor: pointer;
}
.allcatagories-link{
  color: black;
}
.All-Catagories {
  margin-left: 20px;
  border-radius: 5px;
  border-color: grey;
  position: relative;
  padding: 2px;
  font-size: 20px;
}

.All-Catagories .tooltip {
  position: absolute;
  margin-top: 10px;
  margin-left: -30px;
  background-color: rgb(182, 181, 181);
  border: solid;
  border-width: 2px;
  padding: 5px;
  font-size: 15px;
  opacity: 0;
  width: 200px;
}
.All-Catagories:hover .tooltip{
  opacity: 1;
}
li{
  padding: 0px;
  text-align:start;
  margin: 5px 0px 5px 0px;
  font-size: 17px;
}
.service {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:40px;
  font-size:20px;
}
main{
    min-width: 1280px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.layout{
    display: inline-block;
    width: 1000px;
    background-color: white;
}
.innerlayout{
  display: grid;
  grid-template-columns: 80px 915px;
  gap: 5px;
}
.layout-left{
  background-color: rebeccapurple;
  display: inline-flex;
  justify-content: center;
  width: 80px;
  height: 500px;
  flex-direction: column;
}
.list-item{
  height: 80px;
  width: 80px;
  background-color: aqua;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout-right{
  display: inline-flex;
  width: 915px;
}
.product-img{
  width: 500px;
  padding-top: 10px;
}
.product-img img{
  width: 450px;
}
.layout-overview{
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  width: 415px;
  height: 800px;
}
.product-title{
  background-color: white;
  display: flex;
  overflow: hidden;
  white-space:wrap;
  text-overflow: ellipsis;
}
.product-details{
  
  background-color: #2e4fe0;
}
.cart-layout{
    display: inline-block;
    height: 100px;
    width: 250px;
    background-color: white;
    padding: 5px; 
}
footer{
  min-width: 1280px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.About {
  text-align: center;
  background-color: #f5f5f5;
  color: #706f6f;
  padding: 10px 0px 10px 0px;
  }